.newUserButton {
    background-color: #0a8b5e;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    border: 0.1px solid var(--body-color);
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    outline: 0 solid transparent;
    height: 40px;
    margin-right: 20px;
}

.newUserButton:hover {
    box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
        rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
    transform: scale(1.05);
}

.buttonText {
    padding-left: 10px;
}
