.statsCard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemonName {
    width: 250px;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    background-color: var(--border-color);
    border-radius: 10px;
    margin-bottom: 20px;
}

h2 {
    text-transform: uppercase;
    margin: 20px;
    text-align: center;
}
